#achievements {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 90%;
    max-width: 960px;
    margin: 0 auto;
    @media only screen and (min-width: $cut) {
        width: 80%;
    }
}

.tech {
    h3 {
      margin: 0;
    }
    h4 {
        color: var(--text-strong);
        margin: 0;
      }
    h5 {
        color: var(--text-muted);
        margin: 0;
      }
    ul{
        margin: 0;
    }
    li {
      color: var(--ink);
      font-size: 1.1rem;
      list-style-type: none;
      text-decoration: none;
      margin-bottom: 0.1rem;
    }
    p {
      margin-right: 5px;
      font-size: 0.75rem;
      color: var(--text-muted);
    }
    a {
      text-decoration: none;
      color: var(--text-strong);
      &:hover {
        color: $purple;
        transition: color 0.3s ease-in,
                    background-color 0.3s ease-in,
                    border-color 0.3s ease-in;
      }
    }
}
