{% macro about() %}
<div class="user-details">
  <h1> About me </h1>
  <p> {{ config.extra.user_description }} </p>
</div>
{% endmacro about %}

{% macro experience() %}
<div class="user-details">
  <h1> Experience </h1>
</div>
<div class="user">
  <div class="tech">
    {% set exp = load_data(path="content/exp.json") %}
    <h2>Work Experience</h1>
    {% for wexp in exp.wexps %}
    <li><a href="{{ wexp.url }}">{{ wexp.company }}, {{ wexp.position }}</a></li>
    {% endfor %}
  </div>
  <div class="tech">
    <h2>Affiliations</h1>
    {% for aff in exp.affs %}
    <li><a href="{{ aff.url }}">{{ aff.company }}, {{ aff.position }}</a></li>
    {% endfor %}
  </div>
</div>
{% endmacro experience %}

{% macro skills() %}
<div class="user-details">
  <h1> Skills </h1>
</div>
<div class="user">
  <div class="tech">
    <h2>Tools/Languages</h2>
    <i class="devicon-git-plain"></i>
    <i class="devicon-python-plain"></i>
    <i class="devicon-rust-plain"></i>
    <i class="devicon-matlab-plain"></i>
    <i class="devicon-tensorflow-original"></i>
    <i class="devicon-pytorch-original"></i>
    <i class="devicon-latex-original"></i>
    <i class="devicon-linux-plain"></i>
  </div>
  <div class="tech">
    <h2>Certifications</h2>
    <ul>
    {% set certs = load_data(path="content/certifications.json") %}
    {% for cert in certs.certifications %}
    <li><i class="fa-solid fa-certificate"></i><a href="{{ cert.url }}">{{ cert.title }}</a></li>
    {% endfor %}
    </ul>
  </div>
</div>
{% endmacro skills %}

{% macro achievements() %}
<div class="user-details">
  <h1> Achievements </h1>
</div>
<div class="user">
    <div class="tech">
      <h2>Awards</h2>
          {% set aw_fel = load_data(path="content/awards.json") %}
          {% for award in aw_fel.awards %}
          <li>{{ award.title }}|{{ award.org }}|{{ award.year }}|{{ award.pos }}</li>
          {% endfor %}
    </div>
    <div class="tech">
      <h2>Fellowships</h2>
          {% for award in aw_fel.fellowships %}
          <li>{{ award.title }}|{{ award.org }}|{{ award.year }}</li>
          {% endfor %}
    </div>
</div>
{% endmacro achievements %}

{% macro publications() %}
<div class="user-details">
  <h1> Publications </h1>
</div>
<div class="user">
    {% set pubs = load_data(path="content/pubs.json") %}
    {% for pub in pubs.pubs %}
    <li>
      <h4>{{ pub.title }}|{{ pub.year }}</h4>
      <h5>
        {% for auth in pub.author %}
        {{ auth.name }};
        {% endfor %}
      </h5>
    </li>
    {% endfor %}
{% endmacro publications %}



{% macro projects() %}
<div class="user-details">
  <h1> Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ config.base_url ~ "/img/mountains.jpg" }}" />
  </div>
  <div class="contents">
    <h3> Project Title </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ config.base_url ~ "/img/skate.jpg" }}" />
  </div>
  <div class="contents-right">
    <h3> Project Title </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
{% endmacro projects %}

