{% macro about() %}
<div class="user-details">
  <h1> About me </h1>
  <p> {{ config.extra.user_description }} </p>
</div>
{% endmacro about %}

{% macro experience() %}
<div class="user-details">
  <h1> Experience </h1>
</div>
<div class="user">
  <div class="tech">
    <h2>Work Experience</h1>
  </div>
  <div class="tech">
    <h2>Affiliations</h1>
  </div>
</div>
{% endmacro experience %}

{% macro skills() %}
<div class="user-details">
  <h1> Skills </h1>
</div>
<div class="user">
  <div class="tech">
    <h2>Tools/Languages</h2>
    <div class="user-item"><i class="devicon-git-plain"></i></div>
    <div class="user-item"><i class="devicon-python-plain"></i></div>
    <div class="user-item"><i class="devicon-rust-plain"></i></div>
    <div class="user-item"><i class="devicon-matlab-plain"></i></div>
    <div class="user-item"><i class="devicon-tensorflow-original"></i></div>
    <div class="user-item"><i class="devicon-pytorch-original"></i></div>
    <div class="user-item"><i class="devicon-latex-original"></i></div>
    <div class="user-item"><i class="devicon-linux-plain"></i></div>
  </div>
  <div class="tech">
    <h2>Certifications</h2>
  </div>
</div>
{% endmacro skills %}

{% macro achievements() %}
<div class="user-details">
  <h1> Achievements </h1>
</div>
<div class="user">
    <div class="tech">
      <h2>Fellowships and Awards</h2>
      <i class="devicon-git-plain"></i>
    </div>
    <div class="tech">
      <h2>Publications</h2>
      <i class="devicon-git-plain"></i>
    </div>

</div>
{% endmacro achievements %}


{% macro projects() %}
<div class="user-details">
  <h1> Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ config.base_url ~ "/img/mountains.jpg" }}" />
  </div>
  <div class="contents">
    <h3> Project Title </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ config.base_url ~ "/img/skate.jpg" }}" />
  </div>
  <div class="contents-right">
    <h3> Project Title </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
{% endmacro projects %}

