{% macro about() %}
<div class="user-details">
  <h1> About me </h1>
  <p> {{ config.extra.user_description }} </p>
</div>
{% endmacro about %}

{% macro achievements() %}
<div class="user-details">
  <h1> Achievements </h1>
</div>
<div class="user">
    <div class="tech">
      <h2>Awards</h2>
        <ul>
          {% set aw_fel = load_data(path="content/awards.json") %}
          {% for award in aw_fel.awards %}
            <li>
              <h4>{{ award.title }}</h4>
              <h5>{{ award.org }} | {{ award.year }} | {{ award.pos }}</h5>
            </li>
          {% endfor %}
        </ul>
    </div>
    <div class="tech">
      <h2>Fellowships</h2>
        <ul>
          {% for award in aw_fel.fellowships %}
            <li>
              <h4><i class="fa-solid fa-link"></i> <a href="{{ award.url }}">{{ award.title }}</a></h4>
              <h5>{{ award.org }} | {{ award.year }}</h5>
            </li>
          {% endfor %}
        </ul>
    </div>
</div>
{% endmacro achievements %}


{% macro experience() %}
<div class="user-details">
  <h1> Experience </h1>
</div>
<div class="user">
  <div class="tech">
    {% set exp = load_data(path="content/exp.json") %}
    <h2>Work Experience</h2>
    <ul>
    {% for wexp in exp.wexps %}
    <li>
      <h5><i class="fa-solid fa-link"></i> <a href="{{ wexp.url }}">{{ wexp.company }}</a></h5>
      <h6>{{ wexp.position }}, {{ wexp.duration }}</h6>
    </li>
    {% endfor %}
    </ul>
  </div>
  <div class="tech">
    <h2>Affiliations</h2>
    <ul>
    {% for aff in exp.affs %}
    <li>
      <h5><i class="fa-solid fa-link"></i> <a href="{{ aff.url }}">{{ aff.company }}</a></h5>
      <h6>{{ aff.position }}</h6>
    </li>
    {% endfor %}
    </ul>
  </div>
</div>
{% endmacro experience %}

{% macro skills() %}
<div class="user-details">
  <h1> Skills </h1>
</div>
<div class="user">
  <div class="tech">
    <h2>Tools/Languages</h2>
    <i class="devicon-git-plain"></i>
    <i class="devicon-python-plain"></i>
    <i class="devicon-rust-plain"></i>
    <i class="devicon-matlab-plain"></i>
    <i class="devicon-tensorflow-original"></i>
    <i class="devicon-pytorch-original"></i>
    <i class="devicon-latex-original"></i>
    <i class="devicon-linux-plain"></i>
  </div>
  <div class="tech">
    <h2>Certifications</h2>
    <ul>
      {% set certs = load_data(path="content/certifications.json") %}
      {% for cert in certs.certifications %}
        <li><i class="fa-solid fa-certificate"></i> <a href="{{ cert.url }}">{{ cert.title }}</a></li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endmacro skills %}

{% macro publications() %}
<div class="user-details">
  <h1> Recent Publications </h1>
</div>
{% set pubs = load_data(path="content/pubs.json") %}
{% for pub in pubs.pubs %}
  <div class="user-pubs">
    <div class="pub-contents">
      <h3><i class="fa-solid fa-book"></i> <a href="{{ pub.link }}">{{ pub.title }}</a></h3>
      <h4>{{ pub.booktitle }}</h4>
      <p>
        {% for auth in pub.author %}
          {{ auth.name }};
        {% endfor %}
      </p>
    </div>
  </div>
{% endfor %}
<a class="pub-link" href="https://scholar.google.com/citations?hl=en&user=Ph3THgYAAAAJ">All Publications</a>
{% endmacro publications %}



{% macro projects() %}
<div class="user-details">
  <h1> Projects </h1>
</div>
{% set projs = load_data(path="content/projs.json") %}
{% for proj in projs.projs %}
  <div class="user-projects">
    <div class="images-right">
      <img alt="project" src="{{ proj.photo_url }}" />
    </div>
    <div class="contents">
      <h3>{{ proj.title }}</h3>
      <p>{{ proj.about }}</p>
      <a class="project-link" href="{{ proj.github }}">GitHub</a>
    </div>
  </div>
{% endfor %}
<a class="project-link" href="https://github.com/sriram98v">All Projects</a>
{% endmacro projects %}

