{% import "macros.html" as macros %}
{% import "content.html" as content %}
{% import "projs.html" as projs %}
{% import "pubs.html" as pubs %}
{% import "skills.html" as skills %}
{% import "exp.html" as exp %}
{% import "about.html" as about %}
{% import "acheivements.html" as acheivements %}


<!DOCTYPE html>
<html lang="en">

  {{ macros::head() }}

  <body>

      {{ macros::header() }}

      <section id="about">
        {{ about::about() }}
      </section>

      <section id="publications">
        {{ pubs::publications() }}
      </section>

      <section id="projects">
        {{ projs::projects() }}
      </section>

      <section id="skills">
        {{ skills::skills() }}
      </section>

      <section id="exp">
        {{ exp::experience() }}
      </section>

      <section id="achievements">
        {{ acheivements::achievements() }}
      </section>

      {{ macros::footer() }}

  </body>
