
{% macro head() %}
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ config.title }}{% endif %}</title>
  <meta name="description" content="{% if page.description %}{{ page.description | striptags | trim | truncate(length=160) }}{% else %}{{ config.description }}{% endif %}">

  <link rel="stylesheet" href="{{ config.base_url ~ "/main.css" }}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css">
  <script src="https://kit.fontawesome.com/5ad2c9e127.js" crossorigin="anonymous"></script>
</head>
{% endmacro head %}

{% macro footer() %}
<footer class="footer">
    <p>&copy; {{ config.extra.username }}</p>
</footer>
<script src="//cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script src="{{ config.base_url ~ "/js/sweet-scroll.min.js" }}"></script>
<script src="{{ config.base_url ~ "/js/main.js" }}"></script>
{% endmacro footer %}

{% macro header() %}
<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">{{ config.extra.username }}</span>
        <span class="site-description">{{ config.extra.user_title | linebreaksbr | safe }}</span>
      </h1>
      <div class="header-icons">
        <a aria-label="Send email" href="mailto:{{ config.extra.email }}"><i class="icon fa fa-envelope"></i></a>
        <a aria-label="My Github" href="https://github.com/sriram98v"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
        <a aria-label="My Linkedin" href="https://www.linkedin.com/in/sriram-vijendran-02595512a/"><i class="icon fa fa-linkedin" aria-hidden="true"></i></a>
        <a aria-label="My Google Scholar" href="https://www.linkedin.com/in/sriram-vijendran-02595512a/"><i class="icon fa fa-google" aria-hidden="true"></i></a>
        <a aria-label="My CV" href="{{ config.base_url ~ "/docs/Sriram_Vijendran_cv.pdf" }}"><i class="icon fa-solid fa-file"></i></a>
      </div>
      <div class="header-links">
        <a class="link" href="#about" data-scroll>About Me</a>
        <a class="link" href="#skills" data-scroll>Skills</a>
        <a class="link" href="#exp" data-scroll>Experience</a>
        <a class="link" href="#achievements" data-scroll>Achievements</a>
        <a class="link" href="#publications" data-scroll>Publications</a>
        <a class="link" href="#projects" data-scroll>Projects</a>
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
{% endmacro header %}
